<!doctype html>
<html lang="en">
<head>
    <title><%= shortURL %></title>
</head>
<body>
<%- include('partials/_header') %>
<ul>
    <li>Full URL: <a href="<%= fullURL %>"><%= fullURL %></a></li>
    <li>Shortened URL: <%= shortURL %></li>
    <li>
        <form action="/urls/<%= shortURL%>" method="post">
            <input type="text" name="fullURL" value="<%= fullURL %>">
            <button type="submit">Update</button>
        </form>
    </li>
    <li>
        <form action="/urls/<%= shortURL %>/delete" method="post">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</body>
</html>