<!doctype html>
<html lang="en">
<head>
    <title><%= shortURL %></title>
</head>
<body>
<%- include('partials/_header') %>
<ul>
    <li>Full URL: <a href="<%= fullURL %>"><%= fullURL %></a></li>
    <li>Shortened Form: <%= shortURL %></li>
</ul>
</body>
</html>