<!DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
</head>
<body>
<%- include('partials/_header') %>
<h1>List of Short URLs</h1>
<table border="1px">
    <tr>
        <th>Short url</th>
        <th>Long url</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Date Created</th>
        <th>Number of visit</th>
        <th>Number of unique visit</th>
    </tr>
    <% if (typeof user !== "undefined") { %>
    <% for (let key in urls ) { %>
    <tr>
        <td><%= key %></td>
        <td><%= urls[key].url%></td>
        <td>
            <form action="/urls/<%= key %>">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form action="/urls/<%= key %>/delete" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <% }%>
    <% }%>
</table>
</body>
</html>